.container{
  height:100vh;
  width: 100%;
  background-color: black;
  display:flex;
  align-items: center;
  justify-content: center;
}

.box{
  height:70%;
  width:30%;
  background-color:#B6B3F3 ;
  border-radius: 20px;
  border:7px solid white;
}

.title{
  font-size: 16px;
  font-weight: 400;
  font-family: "DM Serif Text";
}


.active {
  font-weight: bold;
  color: blue;
}


.nav-link {
  text-decoration: none;
  color: blue; /* Default color */
}

.nav-link.active {
  font-weight: bold;
  color: red; /* Color for the active link */
}


.section {
  display: flex;
  flex-direction: row; /* Layout items horizontally */
  flex-wrap: nowrap; /* Ensure no wrapping */
  padding-top: 1rem; /* Adjust padding */
  padding-bottom: 4rem; /* Adjust padding */
  padding-left: 2.5rem; /* Adjust padding */
  width: 100%;
  min-height: 832px; /* Ensure adequate height */
}
